.index-section {
  margin-top: 5rem;
}

.cat-photo-container {
  width: 350px;
  padding: 40px 40px;
}

.cat-photo-container:hover {
  cursor: pointer;
}

.index-cat-photo {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

img {
  height: 100%;
  width: 100%;
}

.cat-item-photo {
  width: 75%;
}

.preview-photo {
  display: flex;
  justify-content: center;
}

.preview-photo > img {
  height: 200px;
  width: 200px;
}

.flex-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.search-empty {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

@media (min-width: 992px) {
  .cat-form {
    padding-top: 1rem;
    width: 50%;
  }

  .card-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 991px) {
  .cat-form {
    padding-top: 3rem;
    width: 80%;
  }

  .card-container {
    flex: 0.8;
    max-width: 90%;
    padding-top: 3rem;
  }

  .index-cat-photo {
    height: 100%;
  }

  .search-empty {
    margin-top: 15%;
  }
}

@media (max-width: 767.98px) {
  .flex-center {
    justify-content: center;
  }

  .index-section {
    margin-top: 7rem;
  }

  .index-cat-photo {
    height: 100%;
  }

  .cat-form {
    padding-top: 1rem;
    width: 90%;
  }

  .card-container {
    width: 90%;
    padding-top: 1rem;
  }

  .search-empty {
    margin-top: 50%;
  }
}
